<link
  rel="stylesheet"
  type="text/css"
  href="/Estrutura/Components/footer.css"
/>
<div class="footer-container">
  <article class="d-flex justify-content-between">
    <section style="width: 360px">
      <img class="footer-image" src="/Assets/Imagens/Logo_Kishimoto.png" />
    </section>
    <section style="width: 360px">
      <div class="footer-info">
        <h3>Contatos</h3>
        <p>Telefone: (11) 1234-5678</p>
        <p>Email:contato@kishimoto.com</p>
      </div>
    </section>
    <section style="width: 480px">
      <div class="footer-social">
        <h3>Siga-nos nas redes sociais:</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/"
            ><img src="/Assets/Icons/face_icon.png" alt="Facebook"
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="/Assets/Icons/insta_icon.png" alt="Instagram"
          /></a>
          <a href="https://x.com/"
            ><img src="/Assets/Icons/x_icon.png" alt="Twitter"
          /></a>
        </div>
      </div>
    </section>
    <section>
      <img src="/Assets/Imagens/Peixes-Footer.png" style="margin: -32px 0" />
    </section>
  </article>
  <p class="footer-copyright">
    Copyright © 2025 KISHIMOTO. Todos os direitos reservados.
  </p>
</div>
