<link rel="stylesheet" type="text/css" href="/Estrutura/Components/header.css"/>

<img class="header__logo" src="/Assets/Imagens/Logo_Kishimoto.png" alt="Logo Kishimoto" style="width: 118px"/>
<nav class="nav">
  <div class="nav__links">
    <a class="nav__link" href="/index.html" id="home">Home</a>
    <a class="nav__link" href="/Estrutura/Nossa_historia/nossa_historia.html">Nossa História</a>
    <a class="nav__link" href="/Estrutura/Cardapio/cardapio.html">Cardápio</a>
    <a class="nav__link" href="/Estrutura/Sobre/sobre_trabalho.html">Sobre o Trabalho</a>
  </div>
</nav>
<section class="profile">
  <button id="cardapio-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDireita"aria-controls="offcanvasDireita">
    <img src="/Assets/Icons/carrinho_icon.png" alt="Perfil" />
  </button>
  <div class="tooltip-container">
    <a><button class="login">Entrar</button></a>
    <span class="tooltip-text">Não implementado!</span>
  </div>
</section>
<article id="carrinho"></article>
