<link rel="stylesheet" type="text/css" href="/Estrutura/Components/header.css">
<img src="/Assets/Imagens/Logo_Kishimoto.png" alt="Logo Kishimoto" style="width: 118px;">
<nav>
    <ul>
        <li><a href="/index.html" id="home">Home</a></li>
        <li><a href="/Estrutura/Nossa_historia/nossa_historia.html">Nossa História</a></li>
        <li><a href="/Estrutura/Cardapio/cardapio.html">Cardápio</a></li>
        <li><a href="/Estrutura/Sobre/sobre_trabalho.html">Sobre o Trabalho</a></li>
    </ul>
</nav>
<section class="profile">
    <button id="cardapio-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDireita" aria-controls="offcanvasDireita"><img src="/Assets/Icons/carrinho_icon.png" alt="Perfil"></button>
    <div class="tooltip-container">
        <a><button class="login">Entrar</button></a>
        <span class="tooltip-text">Não implementado!</span>
    </div>
</section>
<article id="carrinho"></article>